.checklist{
    padding: 0;
}

.checklist li{
    padding-left: 1.5em;
    font-size: 20px;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 1em;
}

.checklist li.checked{
    background-image: url("../images/check.png");
}

.checklist li:not(.checked){
    background-position: left center;
    background-image: url("../images/not.png");
    background-repeat: no-repeat;
}